BODY {

	background: url(background.png);
	background-size: cover;
	background-attachment: fixed;
}
H1 {
	padding: 90PX;
	margin-left: 420PX;
 }
  input{
      padding: 8px;
      margin-left:600px;
       border-width: 1;
 }
 button {
 	padding: 5px;
  border-width: 2px;

 	margin-left: 870px;
 }